<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.erlaila.mybatis.mapper.NurseServiceAreaMapper" >
  <resultMap id="BaseResultMap" type="cn.erlaila.mybatis.po.NurseServiceArea" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="serviceArea_id" property="serviceareaId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, serviceArea_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nurseservicearea
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nurseservicearea
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.erlaila.mybatis.po.NurseServiceArea" >
    insert into nurseservicearea (id, userId, serviceArea_id
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{serviceareaId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.erlaila.mybatis.po.NurseServiceArea" >
    insert into nurseservicearea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="serviceareaId != null" >
        serviceArea_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="serviceareaId != null" >
        #{serviceareaId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.erlaila.mybatis.po.NurseServiceArea" >
    update nurseservicearea
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="serviceareaId != null" >
        serviceArea_id = #{serviceareaId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.erlaila.mybatis.po.NurseServiceArea" >
    update nurseservicearea
    set userId = #{userid,jdbcType=INTEGER},
      serviceArea_id = #{serviceareaId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>